<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sCTF Login</title>
</head>
<body>
    <h1>Log in:</h1><br><br>
    {% if user.is_authenticated %}
        <h1>It works!</h1>
    { % else %}
        <h1>Bruh</h1>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="lusername">Username</label>
        <input type="text" id="lusername" name="lusername"><br><br>
        <label for="lpassword">Password</label>
        <input type="text" id="lpassword" name="lpassword"><br><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>