{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>sCTF Mission interface</title>
</head>

<body>
    <!--<nav>
        <ul>
          <a href="#"><li><small>application</small><br>sCTF</li></a>
          <a href="#"><li><small>#26 - 2630p</small><br>Scoreboard</li></a>
          <a href="/ctf-hackerman/html/challs.html"><li><br>Missions</li></a>
          <a href="#"><li><br>Resources</li></a>
          <a href="#"><li><small>user</small><br>Sleipner</li></a>
          <a href="#"><li><br>Main menu</li></a>
        </ul>
        <hr>
    </nav>-->
    
        <!--<a><img class="center" src="images/CISK_CTF_LOGO.png" alt="CISK CTF" height="120px" width="100px"></a>-->
      

      <div class="info">
        <div class="stack" style="--stacks: 3;">
          <span style="--index: 0;">sCTF FRAMEWORK</span>
          <span style="--index: 1;">sCTF FRAMEWORK</span>
          <span style="--index: 2;">sCTF FRAMEWORK</span>
        </div>
        <a href="challs"><button>Log in </button></a>
        <a href="challs"><button>Register account </button></a>
      </div>
    </div>
</body>
</html>
